<style>
dialog{text-align: center;}
details{text-align: center;}
video{text-align: center;}


table,th,tr
 {

border:1px solid black;
}

.alo
{
    background-color:rgb(0, 143, 191);
    border:5px outset rgb(224, 224, 224);
    text-align: center;
    
}
.balo
{
    
    background-color:rgb(65, 71, 73);
    border:5px outset rgb(27, 0, 206);
    text-align: center;
    
}
.checkbox{
    text-align:center;
}

div.table{
table,tr,td{
    border:1px solid balck;
    border-collapse: collapse;
}
th,td{
    background: color #0da5f1;
}
}

</style>